@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


.logo {
    font-family: 'Archivo Black', sans-serif;
    color: black;
    font-size: 2rem;
}


/* .left-brand-log {
    font-family: GT Walsheim;
} */