@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


.results-section {
    /* background-image: url('https://www.sydney.com/sites/sydney/files/styles/landscape_1400x788/public/2022-08/165661-2.jpg?h=f0fb51a5&itok=3-2co6iMhttps://www.sydney.com/sites/sydney/files/styles/landscape_1400x788/public/2022-08/165661-2.jpg?h=f0fb51a5&itok=3-2co6iM');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    color: black;
    height: 70vh;
    
}

body { 
    padding: 0;
    border: 0;
    margin: 0;
}

.results-section {
    padding-top: 0;
    border-top: 0;
    margin-top: 0;

}

.results-section h3, h2, h4 {
    color: whitesmoke;
    text-align: center;

}

.roll-results {
    background-color: lightskyblue;
    height: 2000vh;
}

.table-container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    background-color: skyblue;

}

table {
    width: 70%;
}

.results-section th,
.results-section  td {
    padding: 8px;
}

.results-section th:nth-child(1)
.results-section td:nth-child(1) {
    width: 40%;
}

.results-section th:nth-child(2)
.results-section td:nth-child(2) {
    width: 30%;
}

.results-section th:nth-child(3)
.results-section td:nth-child(3) {
    width: 15%;

}
.results-section th:nth-child(4)
.results-section td:nth-child(4) {
    width: 15%;
}

label[for="playlist"],
label[for="spotify_id"],
label[for="playlist_length"] {
    color: whitesmoke;
    font-size: large;
}

input[type="text"],
input[type="number"] {
    color: whitesmoke;
}

.consensus-heading {
    background-color: black;
}

.form {
    color: whitesmoke;
    background-image: url('https://www.sydney.com/sites/sydney/files/styles/landscape_1400x788/public/2022-08/165661-2.jpg?h=f0fb51a5&itok=3-2co6iMhttps://www.sydney.com/sites/sydney/files/styles/landscape_1400x788/public/2022-08/165661-2.jpg?h=f0fb51a5&itok=3-2co6iM');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.genre-form {
    padding-top: 10px;    
    color: whitesmoke;
    background-color: black;
    
    
}


